<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Usuários Cadastrados</h1>
    <a href="{% url 'cadastrar_usuario' %}">Cadastrar novo usuário</a>
    <ul>
        
        {% for usuario in pessoa %}
            <li>{{ usuario.nome }} - {{ usuario.email }} - {{ usuario.telefone }}
                
                <form action="{% url 'deletar_usuario' usuario.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Deseja realmente eliminar este usuário?')">
                        Eliminar
                    </button>
                <a href="{% url 'editar_usuario' usuario.id%}">Editar</a>
                </form>
            </li>
        {% empty %}
            <li>Nenhum usuário cadastrado.</li>
        {% endfor %}

        
    </ul>
</body>
</html>
